<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
      <profile>
          <id>codjo</id>
          <repositories>
              <repository>
                  <id>codjo</id>
                  <url>http://repo.codjo.net/maven2/inhouse</url>
              </repository>
              <repository>
                  <id>codjo-external</id>
                  <url>http://repo.codjo.net/maven2/external</url>
              </repository>
          </repositories>
          <pluginRepositories>
              <pluginRepository>
                  <id>codjo-plugin</id>
                  <url>http://repo.codjo.net/maven2/inhouse</url>
              </pluginRepository>
              <pluginRepository>
                  <id>codjo-external-plugin</id>
                  <url>http://repo.codjo.net/maven2/external</url>
              </pluginRepository>
          </pluginRepositories>
      </profile>
      <profile>
          <id>codjo-unofficial</id>
          <repositories>
              <repository>
                  <id>codjo-unofficial</id>
                  <url>http://home.gonnot.net/codjo/mvn2</url>
              </repository>
              <repository>
                  <id>codjo-unofficial-external</id>
                  <url>http://home.gonnot.net/codjo/external</url>
              </repository>
          </repositories>
          <pluginRepositories>
              <pluginRepository>
                  <id>codjo-unofficial-plugin</id>
                  <url>http://home.gonnot.net/codjo/mvn2</url>
              </pluginRepository>
              <pluginRepository>
                  <id>codjo-unofficial-external-plugin</id>
                  <url>http://home.gonnot.net/codjo/external</url>
              </pluginRepository>
          </pluginRepositories>
      </profile>
  </profiles>
</settings>
